<div class="drillView">
    <div ng-show="!drill">Not Found</div>
    <div class="drillName">{{drill.name}}</div>
    <div style="margin-bottom: 5px;">{{drill.group}} - Level {{drill.level}}</div>
    <div class="tags">
        Tags:
        <span ng-repeat="tag in drill.tags">{{tag.text}}{{$last ? '' : ', '}}</span>
    </div>
    <div style="margin-bottom: 5px;" ng-show="stats.high > 0">Score: Last({{stats.last}}); High({{stats.high}}); Low({{stats.low}}); Avg({{stats.avg}})</div>
    <div>
        <button ng-click="backToList()">List</button>
        <button ng-click="edit()">Edit</button>
        <button ng-click="score()">Score</button>
        <button ng-click="history()">History</button>
    </div>
    <img style="width: 100%" ng-show="drill.diagram && settings.showInView" ng-src="{{settings.diagramUrlPattern}}/{{drill.diagram}}">
    <div>{{drill.notes}}</div>
</div>