<div class="drillList">
    <button ng-click="newDrill()">New</button>
    <button ng-click="raw()">Raw</button>
    <button ng-click="load()">Reload</button>
    <hr/>
    <span>Group:</span>
    <select ng-model="sGroup" ng-change="load()" ng-options="group for group in groups">
        <option value="">All</option>
    </select>
    <br/>
    <span>Tag:</span>
    <select ng-model="sTag" ng-change="load()" ng-options="tag for tag in tags">
        <option value="">All</option>
    </select>
    <hr/>
    <div ng-repeat="drill in drills">
        <table><tr>
            <td style="width: 150px"><a href="#/drill/{{drill.id}}">
                <span ng-show="!drill.diagram">N/A</span>
                <img ng-show="drill.diagram && settings.showInList" style="width: 150px" ng-src="{{settings.diagramUrlPattern}}/{{drill.diagram}}">
            </a></td>
            <td><a href="#/drill/{{drill.id}}">
                <div class="drillName">{{drill.name}}</div>
                <div>{{drill.group}}</div>
                <div>Tags:<span ng-repeat="tag in drill.tags">{{tag.text}}{{$last ? '' : ', '}}</span></div>
                <div>{{drill.date | date}}</div>
            </a></td>
        </tr></table>
        <hr/>
    </div>
</div>
