<div class="drillEdit">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" ng-model="drill.name"></td>
        </tr>
        <tr>
            <td>Group:</td>
            <td><input type="text" ng-model="drill.group"></td>
        </tr>
        <tr>
            <td>Tags:</td>
            <td><tags-input ng-model="drill.tags" style="width: 220px"></tags-input></td>
        </tr>
        <tr>
            <td>Level:</td>
            <td><input type="number" ng-model="drill.level"></td>
        </tr>
        <tr>
            <td>Diagram:</td>
            <td><input type="text" ng-model="drill.diagram"></td>
        </tr>
        <tr>
            <td>Notes:</td>
            <td>
                <textarea ng-model="drill.notes" style="width: 220px; height: 150px"></textarea>
            </td>
        </tr>

    </table>
    <button ng-click="backToDrillView()">Cancel</button>
    <button ng-click="save()" ng-disabled="!drill.name || !drill.group">Save</button>
    <button ng-click="remove()" ng-show="drill.id">Delete</button>

</div>